.description {
  display: -webkit-box;
  overflow: hidden;
  color: #444;
  font-size: 13px;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
}
.hub-card {
  position: relative;
  overflow: hidden;
  .hub-card-category {
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px 8px;
    color: #74bd54;
    font-size: 12px;
    transform: rotate(45deg) scale(0.85);
    user-select: none;
  }
}
